[Unit]
Description=Timer for blood_moon.service between 15:00 and midnight

[Timer]
OnCalendar=15..23:00..59 Europe/Stockholm
Persistent=false

[Install]
WantedBy=timers.target